@using ProjectGPT.Models
@using ProjectGPT.Pages.Chat.components



@if (IsVisible)
{
    <div class="converation-context">
        <EditForm Model="@SearchModel" class="conversation-context-form">
            <h4>System</h4>
            <InputTextArea title="system" @bind-Value="@SearchModel.SystemContext" class="system-area" />


            <h4>Assistant</h4>
            <InputTextArea title="assistant" @bind-Value="@SearchModel.AssistantContext" class="assistant-area" />
        </EditForm>

    </div>
}



@code {
    [Parameter]
    public SearchModel SearchModel { get; set; }

    [Parameter]
    public bool IsVisible { get; set; } = true;


 


}

